.marble {
  border-radius: 50%;
  margin: 10%;
  position: relative;
  opacity: 0.94;
  overflow: hidden;
  /*display: none;*/
  --animate-repeat: 2;
}

.marble:before {
  content: "";
  position: absolute;
  background: radial-gradient(circle at 70% 100%, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 50%);
  border-radius: 50%;
  bottom: 18%;
  left: 0%;
  opacity: 0.6;
  height: 90%;
  width: 98%;
  filter: blur(4px);
  z-index: 2;
}

.marble:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5%;
  left: 10%;
  border-radius: 50%;
  background: radial-gradient(circle at 45% 45%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2) 18%, rgba(255, 255, 255, 0) 24%);
  transform: translateX(-25%) translateY(-25%) skewX(-20deg);
  filter: blur(4px);
}

@keyframes pulseInteract {
  0% {
   transform: scale(1, 1);
  }

  30% {
    transform: scale(1.2, 1.2);
   }

  100% {
  transform: scale(1, 1);
  }
}
