#screen {
    aspect-ratio: 4 / 3;
    max-width: 95vw;
    max-height: 95vh;
    min-width: 720px;
    min-height: 480px;
    overflow: auto;
    background-color: #111;
    display: grid;
    grid-template-rows:  1fr 14fr;
    grid-template-columns: 4fr 1fr;
    margin:auto;
}

#scores {
    display: flex;
    column-gap: 2vmax;
}

.score-display {
    display: flex;
    padding: 2vmax 0vmax 0vmax 2vmax;
    align-items: center;
    justify-content: space-between;
}

#player-score {
    flex: 2;
    font-size: 3vmax;
}

#target-score {
    flex: 1;
    font-size: 2vmax;
}
